In [8]:
import numpy as np
import pandas as pd

my_array = np.array([10,20,30,40,50])

my_series = pd.Series(my_array)
print(my_series)

my_series = pd.Series(my_array, index=['num1', 'num2', 'num3', 'num4', 'num5'])
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int32
num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int32

In [9]:
my_series = pd.Series(25,index=['num1', 'num2', 'num3', 'num4', 'num5'])
print(my_series)

num1    25
num2    25
num3    25
num4    25
num5    25
dtype: int64

In [13]:
my_dict = {'num1':10,'num2':20,'num3':30,'num4':40,'num5':50,'num6':60}
my_series = pd.Series(my_dict)
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
num6    60
dtype: int64

In [20]:
import pandas as pd
my_series = pd.Series([10,20,30,40,50,60],index = ['num1','num2','num3','num4','num5','num6'])
print(my_series)
print("\n")
print("1.series",my_series[0])
print("2.series",my_series[1:4])
print(my_series['num3'])

num1    10
num2    20
num3    30
num4    40
num5    50
num6    60
dtype: int64


1.series 10
2.series num2    20
num3    30
num4    40
dtype: int64
30

In [25]:
import pandas as pd
import numpy as np

my_series = pd.Series([5,8,2,11,9,35,32])
print(np.min(my_series))
print(np.max(my_series))
print("")
print(np.mean(my_series))
print(np.median(my_series))

2
35

14.571428571428571
9.0

In [26]:
print(my_series.dtype)

int64

In [33]:
import pandas as pd
import numpy as np
my_series = pd.Series([5,8,2,11,9,35,32])
print(my_series)
print("")
print(my_series[my_series>10])
print("")
print(my_series[my_series<10])
print("")

print(my_series.tolist())

0     5
1     8
2     2
3    11
4     9
5    35
6    32
dtype: int64

3    11
5    35
6    32
dtype: int64

0    5
1    8
2    2
4    9
dtype: int64

[5, 8, 2, 11, 9, 35, 32]

In [34]:
import pandas as pd

my_df = pd.DataFrame()
print(my_df)

Empty DataFrame
Columns: []
Index: []

In [36]:
scores = [['Math', 80], ['English', 90], ['Science', 95]]
my_df = pd.DataFrame(scores, columns=['Subject', 'Score'])
print(my_df)

   Subject  Score
0     Math     80
1  English     90
2  Science     95

In [40]:
plate = {'Subject' : ['Istanbul', 'Izmir', 'Ankara', 'Bursa', 'Antalya','Batman','Mardin','Kars','Kastamonu','K覺r覺kkale'],
         'Score' : [34, 33, 6, 16, 7,72,47,12,15,9]}

my_df = pd.DataFrame(plate)
print(my_df)

     Subject  Score
0   Istanbul     34
1      Izmir     33
2     Ankara      6
3      Bursa     16
4    Antalya      7
5     Batman     72
6     Mardin     47
7       Kars     12
8  Kastamonu     15
9  K覺r覺kkale      9

In [42]:
import pandas as pd
scores = [
    {'Subject': 'Math', 'Score': 80},
    {'Subject': 'English', 'Score': 90},
    {'Subject': 'Science', 'Score': 95},
    {'Score':72},
    {'Subject': 'Arts', 'Score':99}
    ]
my_df = pd.DataFrame(scores)
print(my_df)

   Subject  Score
0     Math     80
1  English     90
2  Science     95
3      NaN     72
4     Arts     99

In [49]:
import pandas as pd
scores = [
    {'Subject': 'Math', 'Score': 80},
    {'Subject': 'English', 'Score': 90},
    {'Subject': 'Science', 'Score': 95},
    {'Score':72},
    {'Subject': 'Arts', 'Score':99}
    ]
my_df = pd.DataFrame(scores)
#first 2
print(my_df.head(2))
print("")
#last 2
print(my_df.tail(2))
print("")
print(my_df.sample(2))
print("")
print(my_df.info())
print(my_df.describe())

   Subject  Score
0     Math     80
1  English     90

  Subject  Score
3     NaN     72
4    Arts     99

   Subject  Score
1  English     90
4     Arts     99

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  4 non-null      object
 1   Score    5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
None
           Score
count   5.000000
mean   87.200000
std    11.077003
min    72.000000
25%    80.000000
50%    90.000000
75%    95.000000
max    99.000000